<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.imooc.android5x">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PaletteActivity"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".ClippingActivity">
        </activity>
        <activity android:name=".recycler.RecyclerActivity">
        </activity>
        <activity android:name=".card.CardActivity">
        </activity>
        <activity android:name=".animation.StartAnimationActivity">
        </activity>
        <activity android:name=".animation.TestAnimationActivity"/>
        <activity android:name=".circular_reveal.CircularActivity">
        </activity>
        <activity
            android:name=".toobar.ToolbarActivity"
            android:theme="@style/MyToolbar">
        </activity>
        <activity android:name=".notification.NotificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>